@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --normal_text: 11pt;

  --trans: 0.4s;
  --border-radius: 20px;

  --container-background: rgba(217, 217, 217, .04);

  --opacity-normal-active: 0.94;
  --opacity-hover: 1;

  --red: rgb(255, 127, 127);
  --green: rgb(145, 254, 167);

}

* {
  z-index: 100;
  color: white;
  font-family: inter;
  text-align: left;
  margin: 0;
  padding: 0;
}

::selection {
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
}

input {
  background-color: rgba(217, 217, 217, .1);
  border: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  color: rgba(217, 217, 217, 1);
}

input::selection {
  user-select: auto;
}

input::placeholder {
  color: rgba(217, 217, 217, .45);
}

input:focus {
  background-color: rgba(217, 217, 217, .15);
  border: none;
}

button {
  color: #2A3356;
  width: 70%;
  height: 45px;
  text-align: center;
  border-radius: 50px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  opacity: var(--opacity-normal-active);
  background-color: rgb(255, 255, 255);
}

button:hover {
  opacity: var(--opacity-hover);
}

button:active {
  opacity: var(--opacity-normal-active);
}

.error {
  background-color: rgba(253, 36, 36, 0.1);
}

.info_text,
.error_text,
.success_text {
  font-size: 15px;
  margin-left: 10px;
}

.error_text {
  color: var(--red);
}

.success_text {
  color: var(--green)
}

.error:focus {
  background-color: rgba(253, 36, 36, 0.2);
}

.App {
  text-align: center;
}

.screen {
  height: 100vh;
  width: 100vw;
  background-repeat: round;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.normal_flex {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.title {
  font-family: "Work Sans", sans-serif;
  font-size: 20pt;
  font-weight: bold;
}

.hr {
  width: 90%;
  height: 2px;
  background-color: var(--container-background);
}

.text,
.link_text {
  font-size: var(--normal_text);
  text-decoration: none;
}

.link_text {
  cursor: pointer;
}

.link_text:active {
  opacity: .9;
}

.icon_button {
  background-color: rgba(255, 255, 255, .08);
  display: flex;
  padding: 10px 15px 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

.icon_button:hover {
  background-color: rgba(255, 255, 255, .09);
}

.icon_button:active {
  background-color: rgba(255, 255, 255, .08);
}

.fade_in {
  animation-name: fade_in;
  animation-duration: var(--trans);
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.fade_in_move {
  animation-name: fade_in_move;
  animation-duration: var(--trans);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fade_out {
  animation-name: fade_out;
  animation-duration: var(--trans);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fade_out_move {
  animation-name: fade_out_move;
  animation-duration: var(--trans);
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade_in_move {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade_out_move {
  from {
    opacity: 1;
    transform: translateX(0px);
  }

  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}




/* Test classes */

.none {
  display: none;
}