.our_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container1 {
    margin:50px;
    width: auto;
}

#l1 {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items:flex-end;
}

#l1 img {
    height: 25px;
    margin-right:60px;
    opacity: .5;
    transition: .4s;
    cursor: pointer;
}

#l1 img:hover {
    opacity: 1;
}

#l2 {
    gap:15px;
}

#title span:nth-child(1) {
    font-size: 46px;
    font-weight: bolder;
    text-align: center;
}

#likes {
    font-size: 28px;
    color: rgba(255, 255, 255, .4);
}

#about_info {
    flex-direction: row;
    gap:15px 25px;
    flex-wrap: wrap;
    font-size: 20px;
    width: 70%;
    text-indent: 30px;
    text-align: justify;
}

#niches_container button {
    width: 200px;
}

#l3 {
    font-size: 20px;
    flex-grow: 1;
    margin-top: 30px;
}


@media screen and (max-width: 500px) {
    #title span:nth-child(1) {
        font-size: 40px;
    }
}

@media screen and (max-width: 800px) { 
    #l1 img {
        display: none;
    }
    #back {
        display: block;
    }
    #about_info {
        width: 100%;
    }
}